/* ESTILO GENERAL PARA TODOS LOS DISPOSITIVOS */

* {
    box-sizing: border-box;
}

#contenedor {
    margin: auto;
    max-width: 850px;
    padding: 0;
    width: 100%;
}

#navegacion, #principal, footer {
    border: red 1px solid;
    margin: auto;
    max-width: 850px;
    padding: 1%;
    width: 100%;
}

/* index.html */

div#contenedorimagenes {
 width: 100%;
}

div#contenedorimagenes>.contenedorimg {
    display: inline;
    width: 50%;
}

div#contenedorimagenes .contenedorimg>a>img {
    box-sizing: border-box;
    max-width: 400px;
    width: 100%;
}

#descubrir h2, #descubrir p {
    text-align: center;
}


/* MEDIA QUERIES: 768, 1024, 1400 */