* {
    box-sizing: border-box !important;
}

#contenedor > * {
    max-width: 950px;
    margin: auto;
    width: 100%;
}

#navegacion {    
    background-color: rgb(230, 173, 173);
    letter-spacing: 0.2em;
    text-align: right;
    word-spacing: 1em;
}

#navegacion a {
    border-left: 1px solid white;
    padding: 2px 15px 2px 7px;
}

a:link, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
}

#navegacion, footer {
    clear: both;
    color: white;
    height: 30px;
    padding: 5px;
}

footer {
    background-color: #38516A;
    text-align: center;
    word-spacing: 0.2em;
}

#principal {
    background-color: #F2F2D5;
    color: #38516A;
    text-align: center;
}

.lugares #principal, .especies #principal {
    background-color: #749AB3;
}

#presentacion {
    background-color: transparent;
    background-image: url('images/flamencos1000recortada.jpg');
    height: 250px;
    opacity: 0.85;
    width: 950px;
}

h1 {
    color: rgb(230, 173, 173);
    margin: 0;
    padding: 15px 30px;
    text-align: left;
}

h2 {
    text-align: center;
}

#descubrir {
    padding: 2% 6%;
}

#descubrir img {
    opacity: 0.6;
}

#descubrir img:hover {
    opacity: 0.8;
}

.contenedorimg {
    border: 0;
    display: inline;
    margin: 0;
    padding: 0;
    position: relative;
}

.contenedorimg span {
    color: black;
    font-size: 3em;    
    font-variant: small-caps;
    left: 100px;
    opacity: 0.8;
    position: absolute;
    top: -140px;    
    visibility: visible;
}

/* sp.html */

.cientifico {
    font-style: italic;
}

#principal {
    height: 800px;
    width: 100%;
}

#principal>#mosaico {
    margin: auto;
    width: 88%;
}

#principal>#mosaico>div {
    float: left;
    width: 180px;
}

.especies>#principal>#infosp, .lugares>#principal>#infosp {
    margin: auto;
    overflow: hidden;
    text-align: justify;
    width: 70%;
}

#principal>#infosp>div {
    display: block;
    max-height: 317px;
    width: 100%;
}

#infosp>div>div {
    background-color: rgb(230, 173, 173);
    float: left;
    margin: 1%;
    max-width: 317px;
    padding: 1%;
    width: 48%;
}

#infosp #contenedorsp {
    border: 5px solid rgb(230, 173, 173);
    height: 300px;
    margin: auto;
    width: 300px;
}

.especies canvas.ol-unselectable {
    height: 287px !important;
}

/* especies.html */

#mosaico .avemosaico {
    background-color: rgb(230, 173, 173);;
    height: 200px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    width: 200px;
}

#mosaico .avemosaico img {
    height: 150px;
    margin: auto;
    width: 150px;
}

#mosaico .avemosaico img+span {
    display: block;
    text-align: center;
    width: 100%;
}

#fotosp>img {
    width: 100%;
}

/* lugares.html */

#contenedormapa {
    border: 5px solid #F2F2D5;
    border-radius: 5px;
    height: 700px;
    margin: auto;
    width: 700px;
}

canvas.ol-unselectable {
    height: 690px !important;
}

/* formulario */

input {
    text-align: center;
}